<section>
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="title-dashboard">iButton Isquare </h1>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="Operation Mode">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-get btn-sm" >Get Mode</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="SigFox Id">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-get btn-sm">Get ID</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-5">
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="Sigfox PAC">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-get btn-sm">Get PAC</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-6 mb-4">
                <img class="image-isquare" src="../assets/img/isquare2.png">
            </div>
        </div>

        <form id="form-dashboard1" action="#">
            
            <div class="row">

                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-header"><strong>Time Transmition</strong></div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="Horas" class="col-form-label-sm">Horas</label>
                                    <input type="number"  class="form-control form-control-sm" name="Horas" id="Horas" min="0" max="23" placeholder="0" value="0" group="time_transmition">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="Minutos" class="col-form-label-sm">Minutos</label>
                                    <input type="number" class="form-control form-control-sm" name="Minutos" id="Minutos" min="0" max="59" placeholder="0" value="0" group="time_transmition">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="Segundos" class="col-form-label-sm">Segundos</label>
                                    <input type="number" class="form-control form-control-sm" name="Segundos" id="Segundos" min="0" max="59" placeholder="0" value="0" group="time_transmition">
                                </div>
                                <div class="form-group col-sm-5">
                                    <label for="keepAlive" class="col-form-label-sm">keep Alive(n)</label>
                                    <input type="number" class="form-control form-control-sm" name="keepAlive" id="keepAlive" min="0" max="59" placeholder="0" value="0" group="keep_alive">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="TimeKeep" class="col-form-label-sm">Time</label>
                                    <input type="text" class="form-control form-control-sm" name="TimeKeep" id="TimeKeep" placeholder="0" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card check parameters  -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header"><strong>Reports Enablers</strong></div>
                        <div class="card-body">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="WiFiSwitch" id="WiFiSwitch" group="wifi_switch">
                                <label class="custom-control-label" for="WiFiSwitch">Report Wi-Fi Location</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="AlwaysReportSwitch" id="AlwaysReportSwitch" group="always_report_switch" >
                                <label class="custom-control-label" for="AlwaysReportSwitch">Always Send report</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="DownLinkSwitch" id="DownLinkSwitch" group="down_link_switch">
                                <label class="custom-control-label" for="DownLinkSwitch">Downlink Enable</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="RedundantMsnSwitch" id="RedundantMsnSwitch" group="redundant_msn_switch">
                                <label class="custom-control-label" for="RedundantMsnSwitch">Redundant Messge</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="OnlySendSwitch" id="OnlySendSwitch" group="only_send_switch">
                                <label class="custom-control-label" for="OnlySendSwitch">Only Send location</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="GPSSwitch" id="gpsSwitch" group="gps_switch">
                                <label class="custom-control-label" for="gpsSwitch">Report GPS Location</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the content of Analog input 1 -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Analog Input 1</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="enabled" class="custom-control-input" id="AnalogSwitch1" group="analog_input_1">
                                    <label class="custom-control-label" for="AnalogSwitch1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="Analog1RangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="Analog1RangeMax" id="Analog1RangeMax" step="1" min="0" max="4096" value="2048" disabled group="analog_input_1">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="Analog1spanMax" id="Analog1spanMax">2048</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="Analog1RangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="Analog1RangeMin" id="Analog1RangeMin" step="1" min="0" max="4096" value="2048" disabled group="analog_input_1">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="Analog1spanMin" id="Analog1spanMin">2048</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the content of Analog input 2 -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Analog Input 2</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="enabled" id="AnalogSwitch2" group="analog_input_2">
                                    <label class="custom-control-label" for="AnalogSwitch2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="Analog2RangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="Analog2RangeMax" id="Analog2RangeMax" step="1" max="4096" value="2048" disabled group="analog_input_2">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="Analog2spanMax" id="Analog2spanMax">2048</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="Analog2RangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="Analog2RangeMin" id="Analog2RangeMin" step="1" max="4096" value="2048" disabled group="analog_input_2"> 
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="Analog2spanMin" id="Analog2spanMin">2048</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <!-- card with Battery content -->
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Battery (%) (mah)</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="Battery" class="custom-control-input"  id="BatterySwitch" group="battery_mah">
                                    <label class="custom-control-label" for="BatterySwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="SocRange" class="col-form-label-sm col-sm-2">Soc</label>
                                    <input type="range" class="form-control-range" name="SocRange" id="SocRange" step="1" max="100" value="50" disabled group="battery_mah">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="SocSpan" id="SocSpan">50</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="VolRange" class="col-form-label-sm col-sm-2">Vol</label>
                                    <input type="range" class="form-control-range" name="VolRange" id="VolRange" step="1" max="4200" min="2700" value="3400" disabled group="battery_mah">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="VolSpan" id="VolSpan">3400</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the Digital Input content -->
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Digital Input Options</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="DISwitch" id="DISwitch" group="digital_input_options">
                                    <label class="custom-control-label" for="DISwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="DigitalIn1Select" class="col-form-label-sm">Digital Input 1</label>
                                    <select class="form-control form-control-sm" name="DigitalIn1Select" id="DigitalIn1Select" disabled group="digital_input_options">
                                        <option>Rising Edge</option>
                                        <option>Falling Edge</option>
                                        <option>Both</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="DigitalIn2Select" class="col-form-label-sm">Digital Input 2</label>
                                    <select class="form-control form-control-sm" name="DigitalIn2Select" id="DigitalIn2Select" disabled group="digital_input_options">
                                        <option>Rising Edge</option>
                                        <option>Falling Edge</option>
                                        <option>Both</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the content of Humidity -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Humidity</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="enabled" class="custom-control-input" id="HumiditySwitch" group="humidity">
                                    <label class="custom-control-label" for="HumiditySwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="HumidityRangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="HumidityRangeMax" id="HumidityRangeMax" step="1" max="100" value="50" disabled group="humidity">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="HumidityspanMax" id="HumidityspanMax">50</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="HumidityRangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="HumidityRangeMin" id="HumidityRangeMin" step="1" max="100" value="50" disabled group="humidity">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="HumidityspanMin" id="HumidityspanMin">50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the content of Temperature -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Temperature (°C)</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="Temperature" class="custom-control-input" name="TempSwitch" id="TempSwitch" group="temperature">
                                    <label class="custom-control-label" for="TempSwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="TempRangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="TempRangeMax" id="TempRangeMax" step="1" max="125" min="-40" value="0" disabled group="temperature">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="TempSpanMax" id="TempSpanMax">0</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="TempRangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="TempRangeMin" id="TempRangeMin" step="1" max="125" min="-40" value="0" disabled group="temperature">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="TempSpanMin" id="TempSpanMin">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>

            <div class="row">
                <!-- card with the SigFox Frecuency content -->
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Sigfox Zone</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="SigFoxZone" class="custom-control-input" name="ZoneSwitch" id="ZoneSwitch" group="sigfox_zone">
                                    <label class="custom-control-label" for="ZoneSwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ZoneSelect" class="col-form-label-sm">Zone</label>
                                <select class="form-control form-control-sm" name="ZoneSelect" id="ZoneSelect" disabled group="sigfox_zone">
                                    <option value="RCZ2">RCZ2</option>
                                    <option value="RCZ4">RCZ4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with Color content -->
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>LED Color</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="ColorSwitch" id="ColorSwitch" group="led_color">
                                    <label class="custom-control-label" for="ColorSwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="pulsations" class="col-form-label-sm">Pulsations</label>
                                    <input type="number"  class="form-control form-control-sm" name="Puls" id="pulsations" min="0" max="3" placeholder="0" value="0" group="led_color" disabled>
                                </div>
                            </div>
 
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="Color1"  class="col-form-label-sm"> Color 1</label>
                                    <select class="form-control form-control-sm" name="ColorSelect1" id="Color1" disabled group="led_color">
                                        <option style="background-color: #000000;" value="1"></option>
                                        <option style="background-color: #0000ff;"></option>
                                        <option style="background-color: #00ff00;"></option>
                                        <option style="background-color: #00ffff;"></option>
                                        <option style="background-color: #ff0000;"></option>
                                        <option style="background-color: #ff00ff;"></option>
                                        <option style="background-color: #ffff00;"></option>
                                        <option style="background-color: #ffffff;"></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="Color2" class="col-form-label-sm">Color 2</label>
                                    <select class="form-control form-control-sm" name="ColorSelect2" id="Color2" disabled group="led_color">
                                        <option style="background-color: #000000;" value="1"></option>
                                        <option style="background-color: #0000ff;"></option>
                                        <option style="background-color: #00ff00;"></option>
                                        <option style="background-color: #00ffff;"></option>
                                        <option style="background-color: #ff0000;"></option>
                                        <option style="background-color: #ff00ff;"></option>
                                        <option style="background-color: #ffff00;"></option>
                                        <option style="background-color: #ffffff;"></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="Color3" class="col-form-label-sm">Color 3</label>
                                    <select class="form-control form-control-sm" name="ColorSelect3" id="Color3" disabled group="led_color">
                                        <option style="background-color: #000000;" value="1"></option>
                                        <option style="background-color: #0000ff;"></option>
                                        <option style="background-color: #00ff00;"></option>
                                        <option style="background-color: #00ffff;"></option>
                                        <option style="background-color: #ff0000;"></option>
                                        <option style="background-color: #ff00ff;"></option>
                                        <option style="background-color: #ffff00;"></option>
                                        <option style="background-color: #ffffff;"></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="Cancel" class="col-form-label-sm">Cancel</label>
                                    <select class="form-control form-control-sm" name="ColorSelectCancel" id="Cancel" disabled group="led_color">
                                        <option style="background-color: #000000;" value="1"></option>
                                        <option style="background-color: #0000ff;"></option>
                                        <option style="background-color: #00ff00;"></option>
                                        <option style="background-color: #00ffff;"></option>
                                        <option style="background-color: #ff0000;"></option>
                                        <option style="background-color: #ff00ff;"></option>
                                        <option style="background-color: #ffff00;"></option>
                                        <option style="background-color: #ffffff;"></option>
                                    </select>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>

                <!-- card with the content of Vibration -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Vibration</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="Vibration" class="custom-control-input" name="VibrationSwitch" id="VibrationSwitch" group="vibration">
                                    <label class="custom-control-label" for="VibrationSwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="VibrationRangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="VibrationRangeMax" id="VibrationRangeMax" step="1" max="100" value="50" disabled group="vibration">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="VibrationSpanMax" id="VibrationSpanMax">50</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="VibrationRangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="VibrationRangeMin" id="VibrationRangeMin" step="1" max="100" value="50" disabled group="vibration">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="VibrationSpanMin" id="VibrationSpanMin">50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card with the content of Tilt Angle -->
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="col-sm-10"><strong>Tilt Angle (0°- 360°)</strong></div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="Angle" class="custom-control-input" name="AngleSwitch" id="AngleSwitch" group="tilt_angle">
                                    <label class="custom-control-label" for="AngleSwitch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="AngleRangeMax" class="col-form-label-sm col-sm-2">Max</label>
                                    <input type="range" class="form-control-range" name="AngleRangeMax" id="AngleRangeMax" step="1" max="360" value="90" disabled group="tilt_angle">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="AngleSpanMax" id="AngleSpanMax">90</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="AngleRangeMin" class="col-form-label-sm col-sm-2">Min</label>
                                    <input type="range" class="form-control-range" name="AngleRangeMin" id="AngleRangeMin" step="1" max="360" value="90" disabled group="tilt_angle">
                                    <span class="badge badge-secondary col-sm-2 offset-sm-1 mb-2" name="AngleSpanMin" id="AngleSpanMin">90</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="row">
                <!-- <input id="dashboard1-submit" type="submit"> </input> -->
                <div class="col-sm-6 mb-4">
                    <button type="submit" class="btn btn-outline-primary btn-Download_Read col" id="DownLoad">DownLoad</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary btn-Download_Read col">Read From Device</button>
                </div>
            </div>
        </form>
    </div>

</section>